.bubblingG {
	text-align: center;
	width:31px;
	height:19px;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 4px;
	margin: 10px auto;
	background: #FF0099;
	-moz-border-radius: 20px;
	-moz-animation: bubblingG 0.6s infinite alternate;
	-webkit-border-radius: 20px;
	-webkit-animation: bubblingG 0.6s infinite alternate;
	-ms-border-radius: 20px;
	-ms-animation: bubblingG 0.6s infinite alternate;
	-o-border-radius: 20px;
	-o-animation: bubblingG 0.6s infinite alternate;
	border-radius: 20px;
	animation: bubblingG 0.6s infinite alternate;
}

#bubblingG_1 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#bubblingG_2 {
	-moz-animation-delay: 0.18s;
	-webkit-animation-delay: 0.18s;
	-ms-animation-delay: 0.18s;
	-o-animation-delay: 0.18s;
	animation-delay: 0.18s;
}

#bubblingG_3 {
	-moz-animation-delay: 0.36s;
	-webkit-animation-delay: 0.36s;
	-ms-animation-delay: 0.36s;
	-o-animation-delay: 0.36s;
	animation-delay: 0.36s;
}

@-moz-keyframes bubblingG {
	
	0% {
		width: 4px;
		height: 4px;
		background-color:#FF0099;
		-moz-transform: translateY(0);
	}
	
	100% {
		width: 9px;
		height: 9px;
		background-color:#00FF00;
		-moz-transform: translateY(-8px);
	}

}

@-webkit-keyframes bubblingG {
	
	0% {
		width: 4px;
		height: 4px;
		background-color:#FF0099;
		-webkit-transform: translateY(0);
	}
	
	100% {
		width: 9px;
		height: 9px;
		background-color:#00FF00;
		-webkit-transform: translateY(-8px);
	}

}

@-ms-keyframes bubblingG {
	
	0% {
		width: 4px;
		height: 4px;
		background-color:#FF0099;
		-ms-transform: translateY(0);
	}
	
	100% {
		width: 9px;
		height: 9px;
		background-color:#00FF00;
		-ms-transform: translateY(-8px);
	}

}

@-o-keyframes bubblingG {
	
	0% {
		width: 4px;
		height: 4px;
		background-color:#FF0099;
		-o-transform: translateY(0);
	}
	
	100% {
		width: 9px;
		height: 9px;
		background-color:#00FF00;
		-o-transform: translateY(-8px);
	}

}

@keyframes bubblingG {
	
	0% {
		width: 4px;
		height: 4px;
		background-color:#FF0099;
		transform: translateY(0);
	}
	
	100% {
		width: 9px;
		height: 9px;
		background-color:#00FF00;
		transform: translateY(-8px);
	}

}